/* Contenitore orizzontale principale */
.contenitore-orizzontale {
  display: flex;        /* tutto in fila: menu + galleria */
  overflow-x: auto;     /* scorrimento orizzontale se serve */
  min-height: 100vh;
}

body {
  font-family: Garamond, "Times New Roman", Times, serif;
  margin: 0;
  background-color: rgb(255,255,255);
  color: #4F6D7A; /* Blu petrolio scuro */
}

.sidebar {
  width: 250px;
  background-color: rgb(255,255,255); /* bianco */
  padding: 30px;
  flex-shrink: 0;       /* non si riduce */
  font-family: Garamond, "Times New Roman", Times, serif; /* font classico serif */
}

.sidebar h2 {
  color: #004851;       /* titolo nero */
  font-size: 22px;
  margin-bottom: px;
  font-weight: 400;     /* normale */
}

.sidebar ul {
  list-style: none;     /* togli pallini */
  padding-left: 0;      /* niente rientro */
}
.sidebar li:nth-child(2) {
  margin-top: 4px; /* o quanto preferisci */
}

.sidebar li:last-child a {
  margin-top: 13px; /* spazio extra sopra "Info" */
  display: block;   /* assicura che il margine funzioni */
}

.sidebar a {
  color: #004851;       /* link neri */
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;     /* normale */
  display: block;       /* rende tutta la riga cliccabile */
  padding-left: 0;      /* allineamento a sinistra */
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #339999;       /* blu al passaggio del mouse */
}


/* Contenuto principale */
.main-content {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-shrink: 0;       /* non si riduce */
}

/* Galleria di immagini */
.galleria {
  display: flex;
  align-items: center;
  gap: 40vh; /* lo spazio cresce o diminuisce in base all’altezza disponibile */
  padding-right: 40vh; /* spazio bianco finale */
}

.galleria img {
  max-height: 80vh;   /* l’immagine può arrivare fino al 90% dell’altezza visibile */
  width: auto;        /* mantiene le proporzioni */
  flex-shrink: 0;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  object-fit: contain; /* si ridimensiona senza tagliarsi */
}
